<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginAdminServlet</servlet-name>
        <servlet-class>com.mycompany.myproj.servlets.LoginAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLougoutServlet</servlet-name>
        <servlet-class>com.mycompany.myproj.servlets.AdminLougoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LieuxOperationsServlet</servlet-name>
        <servlet-class>com.mycompany.myproj.servlets.LieuxOperationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LieuModifierServlet</servlet-name>
        <servlet-class>com.mycompany.myproj.servlets.LieuModifierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>com.mycompany.myproj.servlets.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>com.mycompany.myproj.servlets.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>com.mycompany.myproj.servlets.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowPlace</servlet-name>
        <servlet-class>com.mycompany.myproj.servlets.ShowPlace</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLougout</servlet-name>
        <servlet-class>com.mycompany.myproj.servlets.AdminLougout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.mycompany.myproj.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginAdminServlet</servlet-name>
        <url-pattern>/LoginAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLougoutServlet</servlet-name>
        <url-pattern>/AdminLougoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LieuxOperationsServlet</servlet-name>
        <url-pattern>/LieuxOperationsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LieuModifierServlet</servlet-name>
        <url-pattern>/LieuModifierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowPlace</servlet-name>
        <url-pattern>/ShowPlace</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLougout</servlet-name>
        <url-pattern>/AdminLougout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
